html {
    scroll-behavior: smooth; 
  }
body {
    background: url(./assets/img/pattern.png);
    margin: 0;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5px;

}

* {
    box-sizing: border-box;
  }
.container-nav {
    background-color: white;
    margin: 30px auto;
    max-width: 1300px;
    box-shadow: 0 5px 10px;
    width: 1200px;
    height: 80px;
    display: flex;
    border-radius: 20px;
    position: static;
}
.nav {
    display: flex;
    
}
.nav-list {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

.nav-item {
    padding: 20px;
    font-size: 22px;
    align-items: center;
}

.nav-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    
}

.nav-link:hover {
    color:wheat;
    text-decoration: underline;
}
.container-foto {
    position: fixed;
    left: 359px;
    top: 130px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 5px 5px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.foto {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.name {
    position: fixed;
    left: 359px;
    top: 390px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 5px 10px;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}

.container-contact{
    position: fixed;
    left: 359px;
    top: 450px;
    background-color: white;
    box-shadow: 0 5px 10px;
    width: 250px;
    
    border-radius: 20px;
    text-align: left;
    
}

.location{
    width: 24px;
    height: 24px;
}

.contact-list{
    padding: 5px 10px;
    list-style: none;
    
}

.contact-item{
    font-size: 17px;
    margin-bottom: 3px;
    
}

.contact-link {
    color: black;
    
}